body {
    background-image:  url("images/background.jpg");
    background-repeat: repeat-x;
    background-color: darkred;
}

.gameField {
    position: absolute;
    background-color: white;
    border:  3px outset darkred;
    vertical-align: bottom;
    width: 500px;
    height: 500px;
    left: 400px;
    top: 10px;
}
#buttonNewGame {
    background-color:  white;
    border: 3px solid  darkred;
    border-radius: 8px;
    padding: 14px 84px;
    position: absolute;
    top: 550px;
    left: 500px;
    font: 30px Comic Sans MS;
    color: darkred;
}
#buttonNewGame:hover {
    cursor: pointer;
}
#buttonNewGame:active {
    color: red;
    transform: translateY(4px);
}
#buttonNewGame:focus {
    outline: none;
}

.stone1, .stone2, .stone3, .stone4, .stone5, .stone6, .stone7, .stone8, .stone9, .stone10 {
    position: inherit;
    width: 50px;
    height: 50px;
}

.stone1, .stone2, .stone3, .stone4, .stone5, .stone6, .stone7, .stone8, .stone9, .stone10 :hover {
    cursor: pointer;
}

.stone1, .stone2, .stone3, .stone4, .stone5, .stone6, .stone7, .stone8, .stone9, .stone10 :focus {
    outline: 2px red;
}

.stone1 {
    background-image: url("images/e1.png");
}

.stone2 {
    background-image: url("images/e2.png");
}

.stone3 {
    background-image: url("images/e3.png");
}

.stone4 {
    background-image: url("images/e4.png");
}
.stone5 {
    background-image: url("images/e5.png");
}

.stone6 {
    background-image: url("images/e6.png");
}

.stone7 {
    background-image: url("images/e7.png");
}

.stone8 {
    background-image: url("images/e8.png");
}
.stone9 {
    background-image: url("images/e9.png");
}

.stone10 {
    background-image: url("images/e10.png");
}