body {
    background:  url("images/fon.png") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-color: sandybrown;
}

.gameField {
    position: absolute;
    background-color: #fef190;
    border:  3px outset darkred;
    vertical-align: bottom;
    width: 500px;
    height: 500px;
    left: 600px;
    top: 155px;
    cursor: pointer;
}
.reset_button, .hint_button, .ai_button, .active_ai_button{
    border-radius: 15px;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 598px;
    color: sandybrown;
    outline: none;
}

.reset_button {
    background-image: url("images/b1.png");
    left: 38px;
}

.hint_button {
    background-image: url("images/b2.png");
    left: 155px;
}

.ai_button {
    background-image: url("images/b3.png");
    left: 275px;
}

.active_ai_button{
    background-image: url("images/actb3.png");
    left: 275px;
}

#score {
    position : absolute;
    top: 615px;
    left: 450px;
    font: 30px Comic Sans MS;
    color: #F4EDD0;
}

#score_title {
    position : absolute;
    top: 570px;
    left: 420px;
    font : 30px Comic Sans MS;
    color: #F4EDD0;
}

#borderTimer {
    position: absolute;
    background-color: darkred;
    border-width: 10px;
    border-radius: 30px;
    width: 1060px;
    height: 42px;
    left: 85px;
    top: 75px;
}

#LineTimer {
    position: absolute;
    background-color: #F4EDD0;
    border-radius: 30px;
    width: 1040px;
    height: 22px;
    left: 95px;
    top: 85px;
    transition: 1000ms;
}

#cookAnimation {
    position: absolute;
    left: 80px;
    top: 50px;
}
